AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=
AWS_REGION=                                          
 

DEBUG=
PORT=
 
GEMINI_API_KEY=
MILVUS_URI=
MILVUS_API_KEY=
MILVUS_COLLECTION=hrms_all


DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=